---
import Container from "./Container.astro";
const { items = [] } = Astro.props;
---

<section>
  <h2>Мени</h2>
  <div class="grid">
    {
      items.map(
        (item: {
          name: string;
          description: string;
          price: string | number;
          image: string;
        }) => (
          <article>
            <div class="bg-img" style={`width: 100%; height: 200px; overflow: hidden; background-size: cover; background-position: center;background-repeat: no-repeat; background-image: url('${item.image}');`}>
              {/* <img src={item.image} alt={item.name} width="100%" height="100%" /> */}
            </div>

            <div>
              <h3>{item.name}</h3>
              <p>{item.description}</p>
              <strong>{item.price} ден.</strong>
            </div>
          </article>
        )
      )
    }
  </div>
  <a href="/menu">Види Мени</a>
</section>

<style>
  .grid {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(330px, 1fr)); */
    /* gap: 2rem; */
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
  }

  article {
    flex: 0 0 33.33333%;
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  }
  article div:first-child {
    flex: 0.5;
  }
  article div:last-child {
    flex: 0.5;
    padding: 1rem;
  }
</style>
