---
import MenuItem from "./MenuItem.astro";
const { title, items, currency } = Astro.props;
---

<section>
  <h2>{title}</h2>

  <ul>
    {
      items.map(
        (item: { name: unknown; ingredients: unknown; price: unknown, currency: unknown }) => (
          <MenuItem
            name={item.name}
            ingredients={item.ingredients}
            price={item.price}
            currency={item.currency}
          />
        )
      )
    }
  </ul>
</section>
